<!DOCTYPE html>
<html translate="no">
<head>
    <title>P1 Level 2_1b</title>
    <link rel="stylesheet" type="text/css" href="styles/posten1level2_1.css">
</head>
<body id = "posten1level2_1b">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <div id="main-container">
        <div id="piano-container">
            <p class="exercise-title">Tonhöhe</p>
            <p id="desc-text">Klicke auf das Hörbeispiel,<br>das zum Notenbild passt.</p>
        </div>

        <div id="image-container">
            <div class="noten-container">
                <svg width="420" height="200">
                    <!-- Erste Linie -->
                    <line x1="0" y1="84" x2="411" y2="84" stroke="#000" stroke-width="2"></line>
                    <!-- Zweite Linie -->
                    <line x1="0" y1="105" x2="411" y2="105" stroke="#000" stroke-width="2"></line>
                    <!-- Dritte Linie -->
                    <line x1="0" y1="126" x2="411" y2="126" stroke="#000" stroke-width="2"></line>
                    <!-- Vierte Linie -->
                    <line x1="0" y1="147" x2="411" y2="147" stroke="#000" stroke-width="2"></line>
                    <!-- Fünfte Linie -->
                    <line x1="0" y1="168" x2="411" y2="168" stroke="#000" stroke-width="2"></line>
                
                    <!-- Schlusslinien -->
                    <line x1="401" x2="401" y1="84" y2="168" style="stroke: #000; stroke-width: 2;"></line>
                    <line x1="411" x2="411" y1="83" y2="169" style="stroke: #000; stroke-width: 7;"></line>
                    
                    <!-- Violinschlüssel -->
                    <text x="12.6" y="149" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">&</text>
                
                    <!-- Erster Takt Noten -->
                    <text x="99.1" y="125.5" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>
                    <text x="177.1" y="136" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>
                    <text x="255.1" y="146.5" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>
                    <text x="333.1" y="157" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>	
                </svg>
            </div>
            <div id="answer-row">
                <div class="answer-container" index = "1">
                    <div class="clear">
                    <p class="answer-description">Hörbeispiel 1</p>
                    <img class="answer-image" src="images/loudspeaker.png" alt="Image" draggable="false">
                    </div>
                </div>

                <div class="answer-container" index = "2">
                    <div class="clear">
                    <p class="answer-description">Hörbeispiel 2</p>
                    <img class="answer-image" src="images/loudspeaker.png" alt="Image" draggable="false">
                    </div>
                </div>

                <div class="answer-container" index = "3">
                    <div class="clear"> 
                    <p class="answer-description">Hörbeispiel 3</p>
                    <img class="answer-image" src="images/loudspeaker.png" alt="Image" draggable="false">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button id="help-button">hilfe</button>
    <div id="popup-container">
        <div id="popup-content">
            <p class="popup-text">Schaue zuerst das Notenbild an und höre dir anschlies-<br>send die drei Hörbeispiele an.</p>
            <p class="popup-text">Ein Hörbeispiel passt zum Notenbild. <strong>Klicke</strong> es an!</p>
            <button id="close-button">Schliessen</button>
        </div>
    </div>

    <audio id="HB1-audio">
        <source src="audio/P1L2_1b3.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <audio id="HB2-audio">
        <source src="audio/P1L2_1b2.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <audio id="HB3-audio">
        <source src="audio/P1L2_1b1.mp3" type="audio/mpeg"> <!-- Correct Answer -->
        Your browser does not support the audio element.
    </audio>

    <script src="scripts/posten1level2_1.js" type="text/javascript">

    </script>
</body>
</html>
