<!DOCTYPE html>
<html translate="no">
<head>
    <title>Posten 2 Level 1b</title>
    <link rel="stylesheet" type="text/css" href="styles/posten2level1.css">
    <style>
        .answer-container {
            width: 720px;
        }
    </style>
</head>
<body id = "posten2level1b">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <div id="main-container">
        <div id="piano-container">
            <p class="exercise-title">Rhythmus</p>
            <p id="desc-text">Klicke auf das rhythmische<br>Muster, das zu dem Beat<br>passt.</p>
        </div>

        <div id="image-container">
            <p class="audio-titel">Industry Baby</p>
            <div class="audio-player">
                <audio id="audio-element">
                  <source src="audio/industrybaby.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
                <div class="audio-controls">
                  <button id="play-pause-button" class="play"></button>
                  <input id="seek-bar" type="range" min="0" value="0">
                </div>
            </div>

            <div class="answer-container" id = "a"> <!-- Correct Answer -->
                <!-- <p class="answer-description">a</p> -->
                <!-- <img class="answer-image" src="images/a.png" alt="a"> -->
                <div class="answer-image">
                    <svg width="710" height="100">
                        <g transform="scale(0.5)">
                        <!-- Erste Linie -->
                        <line x1="0" y1="84" x2="1417" y2="84" stroke="#000" stroke-width="2"></line>
                        <!-- Zweite Linie -->
                        <line x1="0" y1="105" x2="1417" y2="105" stroke="#000" stroke-width="2"></line>
                        <!-- Dritte Linie -->
                        <line x1="0" y1="126" x2="1417" y2="126" stroke="#000" stroke-width="2"></line>
                        <!-- Vierte Linie -->
                        <line x1="0" y1="147" x2="1417" y2="147" stroke="#000" stroke-width="2"></line>
                        <!-- Fünfte Linie -->
                        <line x1="0" y1="168" x2="1417" y2="168" stroke="#000" stroke-width="2"></line>
                
                        <!-- 4/4 Takt -->
                        <text fill="#000" x="167.4" y="104.8" style="font-family: 'Helsinki Std';font-size: 79.4px;">4</text>
                        <text fill="#000" x="167.4" y="147" style="font-family: 'Helsinki Std';font-size: 79.4px;">4</text>
                
                        <!-- Bassschlüssel -->
                        <text x="12.6" y="105" style="font-size: 84px; font-family: 'Helsinki Std'; fill: #000;">?</text>
                
                        <!-- Es-Dur (b vor 4/4) -->
                        <text x="90.30000000000001" y="147" style="font-size: 84px; font-family: 'Helsinki Std'; fill: #000;">b</text>
                        <text x="113.4" y="116" style="font-size: 84px; font-family: 'Helsinki Std'; fill: #000;">b</text>
                        <text x="136.50000000000003" y="157.5" style="font-size: 84px; font-family: 'Helsinki Std'; fill: #000;">b</text>
                
                        <!--Wiederholung-->
                        <line x1="1403" x2="1403" y1="83" y2="169" style="stroke-width: 2; stroke:#000"></line>
                        <line x1="1413.2" x2="1413.2" y1="83" y2="169" style="stroke-width: 9; stroke: #000"></line>
                        <circle cx="1393" cy="136.5" r="5" fill="black"/>
                        <circle cx="1393" cy="115.5" r="5" fill="black"/>
                
                        <!-- Erster Takt -->
                        <text fill="#000" x="240.8" y="125.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Œ</text>
                        <text fill="#000" x="298.8" y="125.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                        <text fill="#000" x="386.8" y="115.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                        <text fill="#000" x="452.7" y="105.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">#</text>
                        <text fill="#000" x="476.8" y="115.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                
                        <!--Bindebogen-->
                        <path d="M1.247833,0.5146937 C15.247833,10.9146937 59.247833,10.9146937 74.247833,0.5146937 C59.247833,17.848027 15.247833,17.848027 1.247833,0.5146937 Z" transform="translate(395.8,89.5) rotate(174) scale(1.1303040000000004,0.66)" style="stroke-width: 0.6;"></path>
                        
                        <!--1. Taktstrich-->
                        <line x1="540" x2="540" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                
                        <!-- Zweiter Takt-->
                        <text fill="#000" x="570.8" y="84.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                        <text fill="#000" x="620.8" y="95" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                        <text fill="#000" x="646.7" y="105.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">#</text>
                        <text fill="#000" x="670.8" y="115.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">H</text>
                        <text fill="#000" x="798.8" y="95" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                        <text fill="#000" x="834.7" y="105.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">#</text>
                        <text fill="#000" x="858.8" y="115.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                
                        <!--Notenbalken 2. Takt-->
                        <line x1="571.7" y1="141.2" x2="621.9" y2="151.8" style="stroke: #000; stroke-width: 6"></line>
                        <line x1="799.6" y1="152" x2="859.6" y2="172.2" style="stroke: #000; stroke-width: 6"></line>
                
                        <!--2. Taktstrich-->
                        <line x1="895" x2="895" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                
                        <!-- Dritter Takt-->
                        <text fill="#000" x="915.8" y="105" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">w</text>
                
                        <!--3. Taktstrich-->
                        <line x1="1090" x2="1090" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                
                        <!-- Vierter Takt-->
                        <text fill="#000" x="1106.7" y="105.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">#</text>
                        <text fill="#000" x="1130.8" y="115.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                        <text fill="#000" x="1160.7" y="105.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">n</text>
                        <text fill="#000" x="1184.8" y="115.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                        <text fill="#000" x="1244.8" y="125.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">H</text>
                        <text fill="#000" x="1274.6" y="115.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">.</text>
                
                        <!--Notenbalken 4. Takt-->
                        <line x1="1130.7" y1="172.2" x2="1186.3" y2="172.2" style="stroke: #000; stroke-width: 6"></line>    
                
                        </g>
                    </svg>                
                </div>
            </div>
            <div class="answer-container" id = "b">
                <!-- <p class="answer-description">b</p> -->
                <!-- <img class="answer-image" src="images/b.png" alt="b"> -->
                <div class="answer-image">
                    <svg width="682" height="100">
                        <g transform="scale(0.5)">
                        <!-- Erste Linie -->
                        <line x1="0" y1="84" x2="1364.65" y2="84" stroke="#000" stroke-width="2"></line>
                        <!-- Zweite Linie -->
                        <line x1="0" y1="105" x2="1364.65" y2="105" stroke="#000" stroke-width="2"></line>
                        <!-- Dritte Linie -->
                        <line x1="0" y1="126" x2="1364.65" y2="126" stroke="#000" stroke-width="2"></line>
                        <!-- Vierte Linie -->
                        <line x1="0" y1="147" x2="1364.65" y2="147" stroke="#000" stroke-width="2"></line>
                        <!-- Fünfte Linie -->
                        <line x1="0" y1="168" x2="1364.65" y2="168" stroke="#000" stroke-width="2"></line>
                
                        <!-- 4/4 Takt -->
                        <text fill="#000" x="167.4" y="104.8" style="font-family: 'Helsinki Std';font-size: 79.4px;">4</text>
                        <text fill="#000" x="167.4" y="147" style="font-family: 'Helsinki Std';font-size: 79.4px;">4</text>
                
                        <!-- Bassschlüssel -->
                        <text x="12.6" y="105" style="font-size: 84px; font-family: 'Helsinki Std'; fill: #000;">?</text>
                
                        <!-- Es-Dur (b vor 4/4) -->
                        <text x="90.30000000000001" y="147" style="font-size: 84px; font-family: 'Helsinki Std'; fill: #000;">b</text>
                        <text x="113.4" y="116" style="font-size: 84px; font-family: 'Helsinki Std'; fill: #000;">b</text>
                        <text x="136.50000000000003" y="157.5" style="font-size: 84px; font-family: 'Helsinki Std'; fill: #000;">b</text>
                
                        <!--Wiederholung-->
                        <line x1="1350" x2="1350" y1="84" y2="168" style="stroke-width: 2; stroke:#000"></line>
                        <line x1="1360.2" x2="1360.2" y1="84" y2="168" style="stroke-width: 9; stroke: #000"></line>
                        <circle cx="1340" cy="136.5" r="5" fill="black"/>
                        <circle cx="1340" cy="115.5" r="5" fill="black"/>
                
                        <!-- Erster Takt -->
                        <text fill="#000" x="220.8" y="125.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                        <text fill="#000" x="298.8" y="123" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Œ</text>
                        <text fill="#000" x="364.7" y="105.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">#</text>
                        <text fill="#000" x="388.8" y="115.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                        <text fill="#000" x="466.8" y="123" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Œ</text>
                
                        <!-- Zweiter Takt-->
                        <text fill="#000" x="570.8" y="84.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">H</text>
                        <text fill="#000" x="674.7" y="105.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">#</text>
                        <text fill="#000" x="698.8" y="115.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">H</text>
                
                        <!-- Dritter Takt-->
                        <text fill="#000" x="871.8" y="95" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">H</text>
                        <text fill="#000" x="999.8" y="115.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">H</text>
                
                        <!-- Vierter Takt-->
                        <text fill="#000" x="1166.7" y="115.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">w</text>
                
                        <!--Taktlinien -->
                        <line x1="540" x2="540" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                        <line x1="845" x2="845" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                        <line x1="1140" x2="1140" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                        </g>
                    </svg>
                
                    
                </div>
            </div>
            <div class="answer-container" id = "c">
                <!-- <p class="answer-description">c</p> -->
                <!-- <img class="answer-image" src="images/c.png" alt="c"> -->
                <div class="answer-image">
                    <svg width="682" height="100">
                        <g transform="scale(0.5)">
                        <!-- Erste Linie -->
                        <line x1="0" y1="84" x2="1364.65" y2="84" stroke="#000" stroke-width="2"></line>
                        <!-- Zweite Linie -->
                        <line x1="0" y1="105" x2="1364.65" y2="105" stroke="#000" stroke-width="2"></line>
                        <!-- Dritte Linie -->
                        <line x1="0" y1="126" x2="1364.65" y2="126" stroke="#000" stroke-width="2"></line>
                        <!-- Vierte Linie -->
                        <line x1="0" y1="147" x2="1364.65" y2="147" stroke="#000" stroke-width="2"></line>
                        <!-- Fünfte Linie -->
                        <line x1="0" y1="168" x2="1364.65" y2="168" stroke="#000" stroke-width="2"></line>
                
                        <!-- 4/4 Takt -->
                        <text fill="#000" x="167.4" y="104.8" style="font-family: 'Helsinki Std';font-size: 79.4px;">4</text>
                        <text fill="#000" x="167.4" y="147" style="font-family: 'Helsinki Std';font-size: 79.4px;">4</text>
                
                        <!-- Bassschlüssel -->
                        <text x="12.6" y="105" style="font-size: 84px; font-family: 'Helsinki Std'; fill: #000;">?</text>
                
                        <!-- Es-Dur (b vor 4/4) -->
                        <text x="90.30000000000001" y="147" style="font-size: 84px; font-family: 'Helsinki Std'; fill: #000;">b</text>
                        <text x="113.4" y="116" style="font-size: 84px; font-family: 'Helsinki Std'; fill: #000;">b</text>
                        <text x="136.50000000000003" y="157.5" style="font-size: 84px; font-family: 'Helsinki Std'; fill: #000;">b</text>
                
                        <!--Wiederholung-->
                        <line x1="1350" x2="1350" y1="84" y2="168" style="stroke-width: 2; stroke:#000"></line>
                        <line x1="1360.2" x2="1360.2" y1="84" y2="168" style="stroke-width: 9; stroke: #000"></line>
                        <circle cx="1340" cy="136.5" r="5" fill="black"/>
                        <circle cx="1340" cy="115.5" r="5" fill="black"/>
                
                        <!--Notenbalken-->
                        <line x1="451.5" y1="141" x2="501.8" y2="151.6" style="stroke: #000; stroke-width: 6"></line>
                        <line x1="1040.7" y1="172.6" x2="1111" y2="172.6" style="stroke: #000; stroke-width: 6"></line>
                
                        <!-- Erster Takt -->
                        <text fill="#000" x="220.8" y="115.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">w</text>
                
                        <!-- Zweiter Takt-->
                        <text fill="#000" x="450.8" y="84.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                        <text fill="#000" x="500.8" y="95" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                        <text fill="#000" x="554.7" y="105.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">#</text>
                        <text fill="#000" x="578.8" y="116" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">H</text>
                        <text fill="#000" x="608.6" y="95.6" style="font-family:Helsinki Std; font-size: 79.4px;" class="normal">.</text>
                
                        <!-- Dritter Takt-->
                        <text fill="#000" x="751.8" y="105.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">w</text>
                
                        <!-- Vierter Takt-->
                        <text fill="#000" x="1016.7" y="105.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">#</text>
                        <text fill="#000" x="1040.8" y="116" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                        <text fill="#000" x="1086.7" y="105.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">n</text>
                        <text fill="#000" x="1110.8" y="116" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">Q</text>
                        <text fill="#000" x="1186.8" y="126" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">H</text>
                        <text fill="#000" x="1216.6" y="115.5" style="font-family:Helsinki Std; font-size: 79.4px;" class="normal">.</text>
                
                        <!--Taktlinien -->
                        <line x1="420" x2="420" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                        <line x1="725" x2="725" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                        <line x1="1000" x2="1000" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <button id="help-button">hilfe</button>
    <div id="popup-container">
        <div id="popup-content">
            <p class="popup-text">
            Du hast wieder ein Hörbeispiel und drei Notenbilder.
            </p>
            <p class="popup-text">
            Diesmal geht es darum, den Rhythmus vom Lied zu erkennen.
            </p>
            <!-- <img src="images/example.png" alt="Bildbeschreibung"> -->
            <button id="close-button">Schließen</button>
        </div>
    </div>

    <audio id="notenbild-audio">
        <source src="audio/HB.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>


    <script src="scripts/posten2level1.js" type="text/javascript">

    </script>
</body>
</html>
