<!DOCTYPE html>
<html translate="no">
<head>
    <title>P1 Level 2_2a</title>
    <link rel="stylesheet" type="text/css" href="styles/posten1level2_2.css">
</head>
<body id = "posten1level2_2a">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <div id="main-container">
        <div id="piano-container">
            <p class="exercise-title">Tonhöhe</p>
            <p id="desc-text">Höre dir jedes Hörbeispiel<br>an und ziehe es zum<br>richtigen Notenbild.<br> <br>Ein Hörbeispiel ist zu viel.</p>
        </div>
    
 
        <div id="image-container">
            <p class="drop-text">Hierhin ziehen</p>
            <div class = "uber-container" id = "a">
                <div class="noten-container">
                    <div class="noten">
                        <svg width="200" height="80">
                            <g transform="scale(0.4)">
                            <!-- Erste Linie -->
                            <line x1="0" y1="84" x2="470" y2="84" stroke="#000" stroke-width="2"></line>
                            <!-- Zweite Linie -->
                            <line x1="0" y1="105" x2="470" y2="105" stroke="#000" stroke-width="2"></line>
                            <!-- Dritte Linie -->
                            <line x1="0" y1="126" x2="470" y2="126" stroke="#000" stroke-width="2"></line>
                            <!-- Vierte Linie -->
                            <line x1="0" y1="147" x2="470" y2="147" stroke="#000" stroke-width="2"></line>
                            <!-- Fünfte Linie -->
                            <line x1="0" y1="168" x2="470" y2="168" stroke="#000" stroke-width="2"></line>
                        
                            <!-- Schlusslinien -->
                            <line x1="461" x2="461" y1="84" y2="168" style="stroke: #000; stroke-width: 2;"></line>
                            <line x1="471" x2="471" y1="83" y2="169" style="stroke: #000; stroke-width: 7;"></line>
                            
                            <!-- Violinschlüssel -->
                            <text x="12.6" y="149" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">&</text>
                        
                            <!-- Erster Takt Noten -->
                            <text x="99.1" y="199.5" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>
                            <text x="177.1" y="178.5" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>
                            <text x="255.1" y="158.5" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>
                            <text x="333.1" y="179.5" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>
                            <text x="411.1" y="199.5" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>		
                            
                            <!-- Hilfslinie C -->
                            <line x1="94" y1="189" x2="129.1" y2="189" stroke="#000" stroke-width="2"></line>
                            <line x1="406.1" y1="189" x2="441.2" y2="189" stroke="#000" stroke-width="2"></line>	
                        </g>
                        </svg>
                    </div>
                </div>
                <p class = "equals">=</p>
                <img class="drag-image" src="images/drag-symbol.png" alt="Image" draggable="false">

            </div>
            <div class = "uber-container" id = "b">
                <div class="noten-container">
                    <div class="noten">
                        <svg width="165" height="80">
                            <g transform="scale(0.4)">
                            <!-- Erste Linie -->
                            <line x1="0" y1="84" x2="411" y2="84" stroke="#000" stroke-width="2"></line>
                            <!-- Zweite Linie -->
                            <line x1="0" y1="105" x2="411" y2="105" stroke="#000" stroke-width="2"></line>
                            <!-- Dritte Linie -->
                            <line x1="0" y1="126" x2="411" y2="126" stroke="#000" stroke-width="2"></line>
                            <!-- Vierte Linie -->
                            <line x1="0" y1="147" x2="411" y2="147" stroke="#000" stroke-width="2"></line>
                            <!-- Fünfte Linie -->
                            <line x1="0" y1="168" x2="411" y2="168" stroke="#000" stroke-width="2"></line>
                        
                            <!-- Schlusslinien -->
                            <line x1="401" x2="401" y1="84" y2="168" style="stroke: #000; stroke-width: 2;"></line>
                            <line x1="411" x2="411" y1="83" y2="169" style="stroke: #000; stroke-width: 7;"></line>
                            
                            <!-- Violinschlüssel -->
                            <text x="12.6" y="149" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">&</text>
                        
                            <!-- Erster Takt Noten -->
                            <text x="99.1" y="125.5" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>
                            <text x="177.1" y="136" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>
                            <text x="255.1" y="146.5" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>
                            <text x="333.1" y="157" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>	
                            </g>
                        </svg>
                    </div>
                </div>
                <p class = "equals">=</p>
                <img class="drag-image" src="images/drag-symbol.png" alt="Image" draggable="false">


            </div>
            <div class = "uber-container" id = "c">
                <div class="noten-container">
                    <div class="noten">
                        <svg width="165" height="80">
                            <g transform="scale(0.4)">
                            <!-- Erste Linie -->
                            <line x1="0" y1="84" x2="411" y2="84" stroke="#000" stroke-width="2"></line>
                            <!-- Zweite Linie -->
                            <line x1="0" y1="105" x2="411" y2="105" stroke="#000" stroke-width="2"></line>
                            <!-- Dritte Linie -->
                            <line x1="0" y1="126" x2="411" y2="126" stroke="#000" stroke-width="2"></line>
                            <!-- Vierte Linie -->
                            <line x1="0" y1="147" x2="411" y2="147" stroke="#000" stroke-width="2"></line>
                            <!-- Fünfte Linie -->
                            <line x1="0" y1="168" x2="411" y2="168" stroke="#000" stroke-width="2"></line>
                        
                            <!-- Schlusslinien -->
                            <line x1="401" x2="401" y1="84" y2="168" style="stroke: #000; stroke-width: 2;"></line>
                            <line x1="411" x2="411" y1="83" y2="169" style="stroke: #000; stroke-width: 7;"></line>
                            
                            <!-- Violinschlüssel -->
                            <text x="12.6" y="149" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">&</text>
                        
                            <!-- Erster Takt Noten -->
                            <text x="99.1" y="136" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>
                            <text x="177.1" y="136" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>
                            <text x="255.1" y="136" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>
                            <text x="333.1" y="136" style="font-size: 79.4px; font-family: 'Helsinki Std';" class="normal">q</text>	
                            </g>
                        </svg>
                    </div>
                </div>
                <p class = "equals">=</p>
                <img class="drag-image" src="images/drag-symbol.png" alt="Image" draggable="false">


            </div>
        </div>
        <div id="drag-container">
            <p class="drag-text">Hier nehmen</p>
            <div id="sound-container">
                <div class = "place-holder">
                    <div class="answer-container sound-container" id = "HB1" draggable = "true" index = "1">
                        <p class="answer-description">a</p>
                        <img class="answer-image" src="images/loudspeaker.png" alt="Image">
                    </div>
                </div>
                <div class = "place-holder">
                    <div class="answer-container sound-container" id = "HB2" draggable = "true" index = "2">
                        <p class="answer-description">b</p>
                        <img class="answer-image" src="images/loudspeaker.png" alt="Image">
                    </div>
                </div>
                <div class = "place-holder">
                    <div class="answer-container sound-container" id = "HB3" draggable = "true" index = "3">
                        <p class="answer-description">c</p>
                        <img class="answer-image" src="images/loudspeaker.png" alt="Image">
                    </div>
                </div>
                <div class = "place-holder">
                    <div class="answer-container sound-container" id = "HB4" draggable = "true" index = "4">
                        <p class="answer-description">d</p>
                        <img class="answer-image" src="images/loudspeaker.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <button id="help-button">hilfe</button>
    <div id="popup-container">
        <div id="popup-content">
            <p id="popup-text">Höre dir die Hörbeispiele an und ziehe sie zum richtigen Notenbild.</p>
            <p>Ein Hörbeispiel passt zu keinem Notenbild.</p>
            <!-- <img src="images/example.png" alt="Bildbeschreibung"> -->
            <button id="close-button">Schließen</button>
        </div>
    </div>

    <audio id="HB1-audio">
        <source src="audio/P1L2_2a4.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <audio id="HB2-audio">
        <source src="audio/P1L2_2a2.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <audio id="HB3-audio">
        <source src="audio/P1L2_2a1.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <audio id="HB4-audio">
        <source src="audio/P1L2_2a3.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <script src="scripts/posten1level2_2.js" type="text/javascript">

</script>
</body>
</html>

<!-- Lösung

HB1 = Leer
HB2 = b
HB3 = a
HB4 = c
-->