<!-- Sollte Posten 2 Level 3b sein-->
<!DOCTYPE html>
<html translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2 Level 3b</title>
    <link rel="stylesheet" type="text/css" href="styles/posten2level3.css">

</head>
<body id = "posten2level3b">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <div id = "main-container">
        <div id="piano-container">
            <p class="exercise-title">Rhythmus</p>
            <p id="desc-text">Übertrage das Notenbild in das <strong>16er</strong> Raster, in&shy;dem du die Kästchen an&shy;klickst.</p>
        </div>
        <div id="aufgabe-container">
            <div id="aufgabe-vertikal">
                <div class= "notenbild">
                    <svg width="850" height="120">
                        <g transform="scale(1.2)">
                            <line x1="0" x2="700" y1="66" y2="66" style="stroke-width: 1; stroke:#000"></line>
                            <text id="keyElement" fill="#000" x="9.6" y="78" style="font-family: 'Helsinki Std'; font-size: 50.4px;">/</text>
                            <text fill="#000" x="41.4" y="52.8" style="font-family:'Helsinki Std'; font-size: 50.4px;">4</text>
                            <text fill="#000" x="41.4" y="79.2" style="font-family: 'Helsinki Std'; font-size: 50.4px;">4</text>
                            
                            <!--Erster Takt-->
                            <text fill="#000" x="94.8" y="72.6" style="font-family: 'Helsinki Std'; font-size: 50.4px;" class="normal">e</text>
                            <text fill="#000" x="121.6" y="59.6" style="font-family:Helsinki Std; font-size: 79.4px;" class="normal">.</text>
                            <text fill="#000" x="196.8" y="65.5" style="font-family: 'Helsinki Std'; font-size: 50.4px;" class="normal">≈</text>
                            <text fill="#000" x="240.8" y="72.6" style="font-family:'Helsinki Std'; font-size: 50.4px;" class="normal">h</text>
                            <text fill="#000" x="536.8" y="72.6" style="font-family: 'Helsinki Std'; font-size: 50.4px;" class="normal">q</text>
                            <text fill="#000" x="607.8" y="72.6" style="font-family: 'Helsinki Std'; font-size: 50.4px;" class="normal">q</text>
                        
                            <!--Notenbalken erster Takt-->
                            <line x1="551.4" y1="24.7" x2="623.4" y2="24.7" style="stroke: #000; stroke-width: 6"></line>
                        
                            <!--Taktlinien -->
                            <line x1="690" x2="690" y1="53.4" y2="78.6" style="stroke-width: 1.2; stroke:#000"></line>
                            <line x1="697.2" x2="697.2" y1="53.4" y2="78.6" style="stroke-width: 8.4; stroke: #000"></line>
                        </g>
                    </svg>
                </div>
                <div class= "row-container">
                        <!-- <img id = "takt-image" src = "images/takt_example.png" alt = "Takt Bild"></img>-->
                        <div id = "row-1" class = "number-row">
                        <!-- <div id = "text1" class ="text-box">Takt1</div> -->
                            <div class="number-pack">
                                <div id = "nb1" class = "number-box">1</div>
                                <div id = "nb2" class = "number-box">2</div>
                                <div id = "nb3" class = "number-box">3</div>
                                <div id = "nb4" class = "number-box">4</div>
                            </div>
                            <div class="number-pack">
                                <div id = "nb5" class = "number-box">5</div>
                                <div id = "nb6" class = "number-box">6</div>
                                <div id = "nb7" class = "number-box">7</div>
                                <div id = "nb8" class = "number-box">8</div>
                            </div>
                            <div class="number-pack">
                                <div id = "nb9" class = "number-box">9</div>
                                <div id = "nb10" class = "number-box">10</div>
                                <div id = "nb11" class = "number-box">11</div>
                                <div id = "nb12" class = "number-box">12</div>
                            </div>
                            <div class="number-pack">
                                <div id = "nb13" class = "number-box">13</div>
                                <div id = "nb14" class = "number-box">14</div>
                                <div id = "nb15" class = "number-box">15</div>
                                <div id = "nb16" class = "number-box">16</div>
                            </div>
                        </div>
                </div>
                 <div class= "notenbild">
                    <svg width="850" height="120">
                        <g transform="scale(1.2)">
                        <line x1="0" x2="700" y1="66" y2="66" style="stroke-width: 1; stroke:#000"></line>
                        <text id="keyElement" fill="#000" x="9.6" y="78" style="font-family: 'Helsinki Std'; font-size: 50.4px;">/</text>
                        <text fill="#000" x="41.4" y="52.8" style="font-family:'Helsinki Std'; font-size: 50.4px;">4</text>
                        <text fill="#000" x="41.4" y="79.2" style="font-family: 'Helsinki Std'; font-size: 50.4px;">4</text>

                        <!--Taktlinien -->
                        <line x1="690" x2="690" y1="53.4" y2="78.6" style="stroke-width: 1.2; stroke:#000"></line>
                        <line x1="697.8" x2="697.8" y1="53.4" y2="78.6" style="stroke-width: 8.4; stroke: #000"></line>

                        <!--Zweiter Takt-->
                        <text fill="#000" x="91.8" y="72.6" style="font-family: 'Helsinki Std'; font-size: 50.4px;" class="normal">q</text>
                        <text fill="#000" x="241.8" y="72.6" style="font-family: 'Helsinki Std'; font-size: 50.4px;" class="normal">q</text>
                        <text fill="#000" x="310.8" y="72.6" style="font-family: 'Helsinki Std'; font-size: 50.4px;" class="normal">q</text>
                        <text fill="#000" x="329.6" y="59.6" style="font-family:Helsinki Std; font-size: 79.4px;" class="normal">.</text>
                        <text fill="#000" x="423.8" y="65.6" style="font-family: 'Helsinki Std'; font-size: 50.4px;" class="normal">≈</text>
                        <text fill="#000" x="458.8" y="72.6" style="font-family: 'Helsinki Std'; font-size: 50.4px;" class="normal">q</text>
                        <text fill="#000" x="493.8" y="72.6" style="font-family:Helsinki Std; font-size: 50.4px;" class="normal">q</text>
                        <text fill="#000" x="537.8" y="72.6" style="font-family:Helsinki Std; font-size: 50.4px;" class="normal">q</text>
                    
                        <!--Notenbalken zweiter Takt-->
                        <line x1="256.4" y1="24.7" x2="326.4" y2="24.7" style="stroke: #000; stroke-width: 6"></line>
                        <line x1="473.4" y1="24.7" x2="509.4" y2="24.7" style="stroke: #000; stroke-width: 6"></line>
                        <line x1="473.4" y1="34.7" x2="509.4" y2="34.7" style="stroke: #000; stroke-width: 6"></line>
                        </g>
                    </svg>
                </div>
                <div class= "row-container">
                    <div id = "row-2" class = "number-row">
                        <!-- <div id = "text2" class ="text-box">Takt2</div> -->
                        <div class="number-pack">
                            <div id = "nb17" class = "number-box">1</div>
                            <div id = "nb18" class = "number-box">2</div>
                            <div id = "nb19" class = "number-box">3</div>
                            <div id = "nb20" class = "number-box">4</div>
                        </div>
                        <div class="number-pack">
                            <div id = "nb21" class = "number-box">5</div>
                            <div id = "nb22" class = "number-box">6</div>
                            <div id = "nb23" class = "number-box">7</div>
                            <div id = "nb24" class = "number-box">8</div>
                        </div>
                        <div class="number-pack">
                            <div id = "nb25" class = "number-box">9</div>
                            <div id = "nb26" class = "number-box">10</div>
                            <div id = "nb27" class = "number-box">11</div>
                            <div id = "nb28" class = "number-box">12</div>
                        </div>
                        <div class="number-pack">
                            <div id = "nb29" class = "number-box">13</div>
                            <div id = "nb30" class = "number-box">14</div>
                            <div id = "nb31" class = "number-box">15</div>
                            <div id = "nb32" class = "number-box">16</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button id="help-button">hilfe</button>
    <div id="popup-container">
        <div id="popup-content">
            <p class="popup-text" id="a"><strong>Ziel:</strong> 
                <ol>
                    <li>Jedes Feld ankreuzen, bei dem eine <strong>neue</strong> Note beginnt.</li>
                    <li>Pausen auslassen.</li>
                </ol>
            </p>
            <p class="popup-text" id="b"><strong>Wie?</strong>
                <div class="popup-beschreibung">
                    <p id="beschreibung-text-1">
                    Du siehst zwei Raster mit jeweils 16 Feldern.<br>Jedes der 16 Felder repräsentiert die Länge einer Sechzehntelnote.
                    </p>
                    <p id="beschreibung-text-2">
                    1 Sechzehntelnote = 1 Feld<br>
                    1 Achtelnote = 2 Felder<br>
                    1 Viertelnote = 4 Felder
                    </p>
                </div>
            </p>
            <p class="popup-text" id="c">
                Kreuze nun <strong>jedes</strong> Feld an, bei dem eine <strong>neue</strong> Note beginnt (oder klingen würde). Lass aber die Pausen aus, denn diese klingen ja nicht.
            </p>

            <div id="recap-container">
                <div id="recap">
                    <img id="beispiel-image" src="images/beispielP2L2.png" alt="beispielP2L2" draggable="false">
                    <p id="recap-text">Du siehst: jede Note, die man spielen würde, muss angekreuzt werden und die Pausen werden ausgelassen. </p>
                </div>
            </div>
            <button id="close-button">Schließen</button>
        </div>
    </div>
<script src="scripts/posten2level3.js" type="text/javascript"></script>


</body>
</html>
