<!DOCTYPE html>
<html translate="no">
<head>
    <title>Posten 2 Level 1c</title>
    <link rel="stylesheet" type="text/css" href="styles/posten2level1.css">
    <style>
        #image-container {
            position:absolute;
            top: 1%;
            left: 35%;
        }
    </style>
</head>
<body id = "posten2level1c">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <div id="main-container">
        <div id="piano-container">
            <p class="exercise-title">Rhythmus</p>
            <p id="desc-text">Klicke auf das rhythmische<br>Muster, das zu dem Beat<br>passt.</p>
        </div>

        <div id="image-container">
            <p class="audio-titel">Angels</p>
            <div class="audio-player">
                <audio id="audio-element">
                  <source src="audio/angels.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
                <div class="audio-controls">
                  <button id="play-pause-button" class="play"></button>
                  <input id="seek-bar" type="range" min="0" value="0">
                </div>
            </div>

            <div class="answer-container" id = "a">
                <!-- <p class="answer-description">a</p> -->
                <!-- <img class="answer-image" src="images/a.png" alt="a"> -->
                <div class="answer-image">
                    <svg width="694" height="97">
                        <g transform="scale(0.4)">
                        <!-- Erste Linie -->
                        <line x1="0" y1="84" x2="1734" y2="84" stroke="#000" stroke-width="2"></line>
                        <!-- Zweite Linie -->
                        <line x1="0" y1="105" x2="1734" y2="105" stroke="#000" stroke-width="2"></line>
                        <!-- Dritte Linie -->
                        <line x1="0" y1="126" x2="1734" y2="126" stroke="#000" stroke-width="2"></line>
                        <!-- Vierte Linie -->
                        <line x1="0" y1="147" x2="1734" y2="147" stroke="#000" stroke-width="2"></line>
                        <!-- Fünfte Linie -->
                        <line x1="0" y1="168" x2="1734" y2="168" stroke="#000" stroke-width="2"></line>
                
                        <!-- 4/4 Takt -->
                        <text fill="#000" x="147.4" y="104.8" style="font-family: 'Helsinki Std';font-size: 79.4px;">4</text>
                        <text fill="#000" x="147.4" y="147" style="font-family: 'Helsinki Std';font-size: 79.4px;">4</text>
                
                        <!-- Violinschlüssel -->
                        <text x="12.6" y="149" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">&</text>
                
                        <!-- A-Dur (# vor 4/4) -->
                        <text x="70" y="83.5" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">#</text>
                        <text x="93.4" y="114.5" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">#</text>
                        <text x="116.5" y="72.5" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">#</text>
                
                        <!--Wiederholung-->
                        <line x1="1720" x2="1720" y1="84" y2="168" style="stroke-width: 2; stroke:#000"></line>
                        <line x1="1730.2" x2="1730.2" y1="83" y2="169" style="stroke-width: 9; stroke: #000"></line>
                        <circle cx="1710" cy="136.5" r="5" fill="black"/>
                        <circle cx="1710" cy="115.5" r="5" fill="black"/>
                
                        <!-- Erster Takt -->
                        <text fill="#000" x="200.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">h</text>
                        <text fill="#000" x="380.8" y="189" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">h</text>
                
                        <!--1. Taktstrich-->
                        <line x1="565" x2="565" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                        
                        <!-- Zweiter Takt-->
                        <text fill="#000" x="585.8" y="126.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">h</text>
                        <text fill="#000" x="765.8" y="147.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">h</text>
                
                        <!-- 2. Taktstrich -->
                        <line x1="945" x2="945" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                
                       <!-- Dritter Takt -->
                        <text fill="#000" x="965.8" y="158.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">h</text>
                        <text fill="#000" x="1145.8" y="178.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">h</text>
                
                        <!-- 3. Taktstrich -->
                        <line x1="1325" x2="1325" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                
                        <!-- Vierter Takt -->
                        <text fill="#000" x="1345.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">h</text>
                        <text fill="#000" x="1525.8" y="189" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">h</text>
                        </g>
                    </svg>
                

                </div>
            </div>
            <div class="answer-container" id = "b">
                <!-- <p class="answer-description">b</p> -->
                <!-- <img class="answer-image" src="images/b.png" alt="b"> -->
                <div class="answer-image">
                    <svg width="694" height="97">
                        <g transform="scale(0.4)">
                        <!-- Erste Linie -->
                        <line x1="0" y1="84" x2="1734" y2="84" stroke="#000" stroke-width="2"></line>
                        <!-- Zweite Linie -->
                        <line x1="0" y1="105" x2="1734" y2="105" stroke="#000" stroke-width="2"></line>
                        <!-- Dritte Linie -->
                        <line x1="0" y1="126" x2="1734" y2="126" stroke="#000" stroke-width="2"></line>
                        <!-- Vierte Linie -->
                        <line x1="0" y1="147" x2="1734" y2="147" stroke="#000" stroke-width="2"></line>
                        <!-- Fünfte Linie -->
                        <line x1="0" y1="168" x2="1734" y2="168" stroke="#000" stroke-width="2"></line>
                
                        <!-- 4/4 Takt -->
                        <text fill="#000" x="147.4" y="104.8" style="font-family: 'Helsinki Std';font-size: 79.4px;">4</text>
                        <text fill="#000" x="147.4" y="147" style="font-family: 'Helsinki Std';font-size: 79.4px;">4</text>
                
                        <!-- Violinschlüssel -->
                        <text x="12.6" y="149" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">&</text>
                
                        <!-- A-Dur (# vor 4/4) -->
                        <text x="70" y="83.5" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">#</text>
                        <text x="93.4" y="114.5" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">#</text>
                        <text x="116.5" y="72.5" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">#</text>
                
                        <!--Wiederholung-->
                        <line x1="1720" x2="1720" y1="84" y2="168" style="stroke-width: 2; stroke:#000"></line>
                        <line x1="1730.2" x2="1730.2" y1="83" y2="169" style="stroke-width: 9; stroke: #000"></line>
                        <circle cx="1710" cy="136.5" r="5" fill="black"/>
                        <circle cx="1710" cy="115.5" r="5" fill="black"/>
                
                        <!-- Erster Takt -->
                        <text fill="#000" x="200.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="290.8" y="188" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="380.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="470.8" y="188" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                
                        <!--1. Taktstrich-->
                        <line x1="565" x2="565" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                        
                        <!-- Zweiter Takt-->
                        <text fill="#000" x="585.8" y="125.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="675.8" y="146.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="765.8" y="125.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="855.8" y="146.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                
                        <!-- 2. Taktstrich -->
                        <line x1="945" x2="945" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                
                       <!-- Dritter Takt -->
                        <text fill="#000" x="965.8" y="157.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="1055.8" y="177.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="1145.8" y="157.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="1235.8" y="177.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                
                        <!-- 3. Taktstrich -->
                        <line x1="1325" x2="1325" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                
                        <!-- Vierter Takt -->
                        <text fill="#000" x="1345.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="1435.8" y="188" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="1525.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="1615.8" y="188" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        </g>
                    </svg>
                

                </div>
            </div>
            <div class="answer-container" id = "c"> <!-- Correct Answer -->
                <!-- <p class="answer-description">c</p> -->
                <!-- <img class="answer-image" src="images/c.png" alt="c"> -->
                <div class="answer-image">
                    <svg width="694" height="97">
                        <g transform="scale(0.4)">
                        <!-- Erste Linie -->
                        <line x1="0" y1="84" x2="1734" y2="84" stroke="#000" stroke-width="2"></line>
                        <!-- Zweite Linie -->
                        <line x1="0" y1="105" x2="1734" y2="105" stroke="#000" stroke-width="2"></line>
                        <!-- Dritte Linie -->
                        <line x1="0" y1="126" x2="1734" y2="126" stroke="#000" stroke-width="2"></line>
                        <!-- Vierte Linie -->
                        <line x1="0" y1="147" x2="1734" y2="147" stroke="#000" stroke-width="2"></line>
                        <!-- Fünfte Linie -->
                        <line x1="0" y1="168" x2="1734" y2="168" stroke="#000" stroke-width="2"></line>
                
                        <!-- 4/4 Takt -->
                        <text fill="#000" x="147.4" y="104.8" style="font-family: 'Helsinki Std';font-size: 79.4px;">4</text>
                        <text fill="#000" x="147.4" y="147" style="font-family: 'Helsinki Std';font-size: 79.4px;">4</text>
                
                        <!-- Violinschlüssel -->
                        <text x="12.6" y="149" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">&</text>
                
                        <!-- A-Dur (# vor 4/4) -->
                        <text x="70" y="83.5" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">#</text>
                        <text x="93.4" y="114.5" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">#</text>
                        <text x="116.5" y="72.5" style="font-size: 79.4px; font-family: 'Helsinki Std'; fill: #000;">#</text>
                
                        <!--Wiederholung-->
                        <line x1="1720" x2="1720" y1="84" y2="168" style="stroke-width: 2; stroke:#000"></line>
                        <line x1="1730.2" x2="1730.2" y1="83" y2="169" style="stroke-width: 9; stroke: #000"></line>
                        <circle cx="1710" cy="136.5" r="5" fill="black"/>
                        <circle cx="1710" cy="115.5" r="5" fill="black"/>
                
                        <!-- Erster Takt -->
                        <text fill="#000" x="200.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="245.8" y="178" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="269.4" y1="176" x2="269.4" y2="88.5" stroke="#000" stroke-width="2"></line>
                        <text fill="#000" x="290.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="335.8" y="178" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="359.4" y1="176" x2="359.4" y2="88.5" stroke="#000" stroke-width="2"></line>
                        <text fill="#000" x="380.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="425.8" y="178" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="449.4" y1="176" x2="449.4" y2="88.5" stroke="#000" stroke-width="2"></line>
                        <text fill="#000" x="470.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="515.8" y="178" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="539.4" y1="176" x2="539.4" y2="88.5" stroke="#000" stroke-width="2"></line>
                        
                        <!-- Notenbalken 1. Takt -->
                        <line x1="223.5" y1="89" x2="360.4" y2="89" stroke="#000" stroke-width="6"></line>
                        <line x1="403.5" y1="89" x2="540.4" y2="89" stroke="#000" stroke-width="6"></line>
                
                        <!--1. Taktstrich-->
                        <line x1="565" x2="565" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                        
                        <!-- Zweiter Takt-->
                        <text fill="#000" x="585.8" y="125.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="630.8" y="136.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="654.4" y1="134.5" x2="654.4" y2="46" stroke="#000" stroke-width="2"></line>
                        <text fill="#000" x="675.8" y="125.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="720.8" y="136.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="744.4" y1="134.5" x2="744.4" y2="46" stroke="#000" stroke-width="2"></line>
                        <text fill="#000" x="765.8" y="125.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="810.8" y="136.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="834.4" y1="134.5" x2="834.4" y2="46" stroke="#000" stroke-width="2"></line>
                        <text fill="#000" x="855.8" y="125.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="900.8" y="136.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="924.4" y1="134.5" x2="924.4" y2="46" stroke="#000" stroke-width="2"></line>
                
                        <!-- Notenbalken 2. Takt -->
                        <line x1="608.5" y1="46.5" x2="745.4" y2="46.5" stroke="#000" stroke-width="6"></line>
                        <line x1="788.5" y1="46.5" x2="925.4" y2="46.5" stroke="#000" stroke-width="6"></line>
                
                        <!-- 2. Taktstrich -->
                        <line x1="945" x2="945" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                
                       <!-- Dritter Takt -->
                        <text fill="#000" x="965.8" y="157.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="1010.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="1034.4" y1="166.5" x2="1034.4" y2="78" stroke="#000" stroke-width="2"></line>
                        <text fill="#000" x="1055.8" y="157.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="1100.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="1124.4" y1="166.5" x2="1124.4" y2="78" stroke="#000" stroke-width="2"></line>
                        <text fill="#000" x="1145.8" y="157.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="1190.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="1214.4" y1="166.5" x2="1214.4" y2="78" stroke="#000" stroke-width="2"></line>
                        <text fill="#000" x="1235.8" y="157.5" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="1280.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="1304.4" y1="166.5" x2="1304.4" y2="78" stroke="#000" stroke-width="2"></line>
                      
                        <!--Notenbalken 3. Takt -->
                        <line x1="988.5" y1="78.5" x2="1125.4" y2="78.5" stroke="#000" stroke-width="6"></line>
                        <line x1="1168.5" y1="78.5" x2="1305.4" y2="78.5" stroke="#000" stroke-width="6"></line>
                
                        <!-- 3. Taktstrich -->
                        <line x1="1325" x2="1325" y1="84" y2="168" style="stroke-width: 3; stroke:#000"></line>
                
                        <!-- Vierter Takt -->
                        <text fill="#000" x="1345.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="1390.8" y="178" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="1414.4" y1="176" x2="1414.4" y2="88.5" stroke="#000" stroke-width="2"></line>
                        <text fill="#000" x="1435.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="1480.8" y="178" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="1504.4" y1="176" x2="1504.4" y2="88.5" stroke="#000" stroke-width="2"></line>
                        <text fill="#000" x="1525.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="1570.8" y="178" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="1594.4" y1="176" x2="1594.4" y2="88.5" stroke="#000" stroke-width="2"></line>
                        <text fill="#000" x="1615.8" y="168" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">q</text>
                        <text fill="#000" x="1660.8" y="178" style="font-family: 'Helsinki Std'; font-size: 79.4px;" class="normal">œ</text>
                        <line x1="1684.4" y1="176" x2="1684.4" y2="88.5" stroke="#000" stroke-width="2"></line>
                
                        <!--Notenbalken 4. Takt -->
                        <line x1="1368.5" y1="88.5" x2="1505.4" y2="88.5" stroke="#000" stroke-width="6"></line>
                        <line x1="1548.5" y1="88.5" x2="1685.4" y2="88.5" stroke="#000" stroke-width="6"></line>
                        </g>
                    </svg>
                

                </div>
            </div>
        </div>
    </div>

    <button id="help-button">hilfe</button>
    <div id="popup-container">
        <div id="popup-content">
            <p class="popup-text">
            Du hast wieder ein Hörbeispiel und drei Notenbilder.
            </p>
            <p class="popup-text">
            Diesmal geht es darum, den Rhythmus vom Lied zu erkennen.
            </p>
            <!-- <img src="images/example.png" alt="Bildbeschreibung"> -->
            <button id="close-button">Schließen</button>
        </div>
    </div>

    <audio id="notenbild-audio">
        <source src="audio/HB.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>


    <script src="scripts/posten2level1.js" type="text/javascript">

    </script>
</body>
</html>
