html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Onest', sans-serif;
    background-color: rgba(44,163,203,255)
}
        
#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}