body {
            margin: 0;
            height: 100vh;
        }
        canvas {
            border: 2px solid black;
        }
        #main-container{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin: 3% 0 0 5%;
        }
        #canvas-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #piano-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 150px;
            box-sizing: border-box;
            transform-origin: top left;
            padding-right: 200px;
            padding-left: 0px;
        }
        .exercise-title {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        #desc-text{
            font-size: 26px;
        }


        p {
            margin: 0;
            line-height: 1.2;
            margin-bottom: 15px;
        }